<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyApp">

        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MoneyApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.auth.AuthActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyApp"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyApp"
            android:windowSoftInputMode="adjustResize" />

        <!-- Service lắng nghe thông báo hệ thống, yêu cầu quyền BIND_NOTIFICATION_LISTENER_SERVICE -->
        <service android:name=".service.TransactionNotificationListenerService"
            android:label="MoneyApp Notification Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- BroadcastReceiver nhận sự kiện click các nút Lưu nhanh / Bỏ qua từ thanh thông báo đẩy -->
        <receiver android:name=".service.NotificationReceiver"
            android:exported="false" />

    </application>

</manifest>